name: Deploy Heroku

on:
  release:
    types: ["created"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "conduit-api-fp"
          heroku_email: ${{secrets.HEROKU_EMAIL}}
